<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841966556785-993fnb2rtmiqm1ggc4r5iinussnrqndh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841966556785-993fnb2rtmiqm1ggc4r5iinussnrqndh</string>
	<key>API_KEY</key>
	<string>AIzaSyBgb1USKc9e6Ui3rReSd8uL1pvT7W660Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>841966556785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hafez.Dares</string>
	<key>PROJECT_ID</key>
	<string>dares-c4174</string>
	<key>STORAGE_BUCKET</key>
	<string>dares-c4174.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841966556785:ios:fbe7e976ea80c8620f6dd0</string>
</dict>
</plist>